doctype html
html
    head
        meta(charest='utf-8')
    body
        h1
            a(href='/topic') Server Side JavaScript
        ul
            each item in topics
                li
                    a(href='/topic/'+item.id)= item.title
        article
            if topic
                h2= topic.title
                p= topic.description
                p= 'by '+topic.author
            else
                h2 Welcome
                p This is sever side javascript tutorial.
        ul
            li
                a(href='/topic/add') add
            if topic
                li
                    a(href='/topic/'+topic.id+'/edit') edit
                li
                    a(href='/topic/' + topic.id + '/delete') delete